
  .input-style{
    width: 600px;
    margin: 15px;
    font-size: medium;
    color :black;
}

.title-style{
    margin: 30px;
}

.btn-size{
    width: 200px;
    height: 50px;
    margin:30px;
    background-color: #FFD54F;
}

.color{
    width: 730px;
   background-color: #FFD54F;
}
.card {
    width: 760px;
    background-color: #FFD54F;
    margin: 5px;
    margin-top: 5%;
    margin-bottom: 10%;
  }

.error{
  color: red;
  font-size: medium;
  padding: 30px;
}

.success{
  color: rgb(5, 172, 5);
  font-size: medium;
  padding: 30px;
  
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

