<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card style="margin: 3%;
    background-color: #FFFF8D;border-radius: 40rem;    width: 81%;
    height: 50%;">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" style="width: 40%; font-family: cursive;text-align: center;">
                <h1><strong>About us</strong>
                    <mat-icon>flutter_dash</mat-icon>
                </h1>
                <p>Take your team and come here to organize your tasks. We offer you a place where you can choose the
                    topics given by the teachers, where you can keep in touch with the team members and the coordinating
                    teachers and where you can evaluate each other and be evaluated.</p>
                <p>If you are a teacher, come here so you can organize your courses better. Here you can evaluate your
                    students and assign them tasks.</p>
                <p>Haven't I convinced you yet? Try to realize and explore the possibilities we offer, then decide if
                    this is the right place for you or not!</p>
                    <br>
                <h1><strong>Contact us</strong>
                    <mat-icon>flutter_dash</mat-icon>
                </h1>
                <p><mat-icon>mail</mat-icon><strong>Email:</strong>twro@tw.ro </p>
            </div>
                <img src="assets/Images/about.jpg" width="813px" height="450px" style="margin: 2%;border-radius: 13rem;">
        </div>
    </mat-card>
</div>