.input-style{
    width: 500px;
    margin: 15px;
    font-size: medium;
}

.title-style{
    margin: 30px;
}

.btn-size{
    width: 200px;
    height: 50px;
}
.card-img{
    background-image:url("src/assets/Images/bg-div.jpg");
    background-repeat: no-repeat;
    width:600px;
    height: 360px;
    margin-top: 5%;
    
}
