.input-style{
    width: 500px;
    margin: 5px;
    font-size: small;
}

.title-style{
    margin: 5px;
}

.btn-size{
    width: 150px;
    height: 50px;
}

.card{
    background-color:#FFD54F;
    background-repeat: no-repeat;
    width:650px;
    height: 750px;
    margin-top: 2%;
}
.color{
    background-color: black;
    color: white;
}