.input-style{
    width: 500px;
    margin: 5px;
    font-size: small;
}

.title-style{
    margin: 5px;
}

.btn-size{
    width: 150px;
    height: 50px;
}

.card{
    background-image:url("src/assets/Images/bg-div2.jpg");
    background-repeat: no-repeat;
    width:600px;
    height: 700px;
    margin-top: 2%;
}