<div fxLayout="column" fxLayoutAlign="center center">
    <div class="title-style">
        <h1><strong>Create a new account</strong></h1>
    </div>
    <div>
        <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
            <mat-form-field class="input-style">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="true">
                    First name is <strong>required</strong>!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="input-style">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="true">
                    Last name is <strong>required</strong>!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="input-style">
                <mat-label>Institution</mat-label>
                <input matInput formControlName="institution">
                <mat-icon matSuffix>school</mat-icon>
                <mat-error *ngIf="true">
                    Institution is <strong>required</strong>!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="input-style">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. pat@example.com" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="true">
                    Please enter a valid email address!
                </mat-error>
                <mat-error *ngIf="true">
                    Email is <strong>required</strong>!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="input-style">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="Teacher">Teacher</mat-option>
                    <mat-option value="Student">Student</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="input-style">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <mat-form-field class="input-style">
                <mat-label>Confirm password</mat-label>
                <input matInput formControlName="passwordConfirmation" [type]="hide2 ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </div>
    <div>
        <button mat-raised-button class="btn-size" color="primary">
            <mat-icon>keyboard_arrow_left</mat-icon> Back to login
        </button>
        <button class="btn-size" mat-raised-button (click)="onSubmit()">Done</button>
    </div>
</div>