<mat-expansion-panel (opened)="onExpandGrades()" (closed)="panelOpenStateGrades = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            View grades
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="end end">
            <form [formGroup]="form">
                <mat-form-field class="input-style" appearance="fill">
                    <mat-label>Assignments</mat-label>
                    <mat-select formControlName='assignment'>
                        <mat-option *ngFor="let assignment of assignments" [value]="assignment.title">
                            {{assignment.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="input-style" appearance="fill">
                    <mat-label>Groups</mat-label>
                    <mat-select formControlName='group'>
                        <mat-option *ngFor="let group of groups" [value]="group.groupName">
                            {{group.groupName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <button mat-raised-button class="btn-size" (click)="onSearch()" matTooltip="Search">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-raised-button class="btn-size" (click)="onReload()" matTooltip="Restore filters">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-fab class="color-buttons" matTooltip="Compute average for each person  per assignment"
                (click)="onStudentAverage()">
                <mat-icon>emoji_symbols</mat-icon>
            </button>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> <strong>User name</strong></th>
                <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
            </ng-container>
            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef> <strong>Group Name</strong></th>
                <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
            </ng-container>
            <ng-container matColumnDef="assignment">
                <th mat-header-cell *matHeaderCellDef> <strong>Assignment Title</strong></th>
                <td mat-cell *matCellDef="let element"> {{element.assignmentTitle}} </td>
            </ng-container>
            <ng-container matColumnDef="checklist">
                <th mat-header-cell *matHeaderCellDef> <strong>Checklist Grade</strong></th>
                <td mat-cell *matCellDef="let element"> {{element.gradeChecklist}} </td>
            </ng-container>
            <ng-container matColumnDef="teacher">
                <th mat-header-cell *matHeaderCellDef> <strong>Teacher Grade</strong></th>
                <td mat-cell *matCellDef="let element"> {{element.gradeTeacher}} </td>
            </ng-container>
            <ng-container matColumnDef="peer">
                <th mat-header-cell *matHeaderCellDef> <strong>Peer Evaluation</strong></th>
                <td mat-cell *matCellDef="let element"> {{element.gradePeerEvaluation}} </td>
            </ng-container>
            <ng-container matColumnDef="average">
                <th mat-header-cell *matHeaderCellDef> <strong>Average</strong></th>
                <td mat-cell *matCellDef="let element"> {{element.average}} </td>
            </ng-container>
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> <strong>Comment</strong></th>
                <td mat-cell *matCellDef="let element" style="max-width: 300px;"> {{element.comment}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
    </mat-card-actions>
</mat-expansion-panel>