
  table {
    width: 100%;
    margin-top: 1%;
  }


  .paginator{
    width: 100%;
  }
  mat-expansion-panel{
    margin: 1px;
  }
  .color-buttons{
    background-color: white;
    color: black;
    margin: 20px;
  }
    
.btn-size{
  width: 90px;
  height: 36px;
  margin: 34px;
  background-color: black;
  color: white;
}
.input-style{
  margin: 10px;
}
