.input-style{
    width: 500px;
    font-size: x-small;
}

.btn-size{
    width: 500px;
    height: 40px;
    background-color: #459910;
    margin-top: -15px;
}

.card{
    width: 500px;
    height: 130px;
    margin-top: 2%;
    margin-bottom: 20%;
}