<div fxLayoutAlign="center center">
    <mat-grid-list class="menu-style" cols="9" rowHeight="60px" rowWidth="20px">
        <mat-grid-tile>
            <button mat-button (click)="redirectHome()">
                <mat-icon>home</mat-icon>Home
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='authService.isLogged()'>
            <button #clickMe mat-icon-button [matMenuTriggerFor]="menu" (mouseenter)="clickOnHover()">
                <span>Groups</span>
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='authService.isLogged()'>
            <button mat-button class="goright" (click)="redirectTo('list')">
                <span>Assignments</span>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button [routerLink]="'/about'">
                About us
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button [routerLink]="'/contact'">
                Contact us
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='!authService.isLogged()'>
            <button mat-button [routerLink]="'/login'">
                Login
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='!authService.isLogged()'>
            <button mat-button [routerLink]="'/register'">
                Register
            </button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='authService.isLogged()'>
            <button mat-button [routerLink]="'/profile'" *ngIf='authService.isLogged()'>
                <mat-icon>person</mat-icon>
                <span>{{email}}</span>
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='authService.isLogged()'>
            <button mat-fab style="background-color: black; margin-left: 30px;" (click)="onSubmit()"
                *ngIf='authService.isLogged()'>
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="redirectTo('create-group')">
            <mat-icon>create</mat-icon>
            <span>Create a New Group</span>
        </button>
        <button mat-menu-item (click)="redirectTo('join-group')">
            <mat-icon>group_add</mat-icon>
            <span>Join a Group</span>
        </button>
        <button mat-menu-item (click)="redirectTo('my-groups')">
            <mat-icon>groups</mat-icon>
            <span>My Groups</span>
        </button>
    </mat-menu>
</div>
<div class="logo"> <img src="assets/Images/logo-bg.png" class="image-logo" (click)="redirectHome()" /></div>