<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="carousel">
        <app-carousel style="margin: 5%;" [slides]='slidesAllFunctions'></app-carousel>
        <h1 class="Title-twro">Welcome! </h1>
    </mat-card>
    <mat-card class="section notifications" *ngIf='authService.isLogged()'>
        <app-group-invitations></app-group-invitations>
   </mat-card>
   <mat-card class="section" *ngIf='authService.isLogged()'>
    <div fxLayout="row" fxLayoutAlign="center center">
         <vg-player class="video-style">
              <video #media [vgMedia]="media" preload="auto" controls>
                   <source src="/assets/Video/GroupCreateAdd.mp4" type="video/mp4">
              </video>
         </vg-player>

         <div class="text-style">
              <h1><strong>How to create or be part of a group!</strong>
                   <mat-icon>flutter_dash</mat-icon>
              </h1>
              <p>Everything is pretty simple! Go to the group option menu and there you can choose to create the
                   group, or if it already exists, you can give the key to a person you want to add or you can add
                   it yourself if you go to the group menu and if you know them email address. See? It's very
                   simple! </p>
         </div>
    </div>
</mat-card>
<mat-card class="section" *ngIf='authService.isLogged()'>
    <div fxLayout="row" fxLayoutAlign="center center">
         <div class="text-style">
              <h1><strong>How to manage a group!</strong>
                   <mat-icon>flutter_dash</mat-icon>
              </h1>
              <p>What can you do once you are part of a group? Well, it's very simple. You can edit group details,
                   add or delete members in case you are a student. You can keep in touch with the members of the
                   group, which you can view. Everything is very simple! </p>
         </div>
         <vg-player class="video-style">
              <video #media [vgMedia]="media" preload="auto" controls>
                   <source src="/assets/Video/ManageGroup.mp4" type="video/mp4">
              </video>
         </vg-player>
    </div>
</mat-card>
    <mat-card class="section">
        <div fxLayout="row" fxLayoutAlign="center center"> 
            <iframe id="vp1BuxYV" title="Video Player" width="640" height="360" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1622543614&f=BuxYV0xxmmc237T0KO7EXg&d=0&m=p&r=360p+480p+720p&volume=50&start_res=720p&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>
            <div class="text-style">
                <h1><strong>About us</strong>
                    <mat-icon>flutter_dash</mat-icon>
                </h1>
                <p>Take your team and come here to organize your tasks. We offer you a place where you can choose the
                    topics given by the teachers, where you can keep in touch with the team members and the coordinating
                    teachers and where you can evaluate each other and be evaluated.</p>
                <p>If you are a teacher, come here so you can organize your courses better. Here you can evaluate your
                    students and assign them tasks.</p>
                <p>Haven't I convinced you yet? Try to realize and explore the possibilities we offer, then decide if
                    this is the right place for you or not!</p>
            </div>
         
        </div>
    </mat-card>
    <mat-card class="section" *ngIf='!authService.isLogged()'>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="text-style">
                <h1><strong>Register right now!</strong>
                    <mat-icon>flutter_dash</mat-icon>
                </h1>
                <p>If you don't have an account yet, you can create one very faster by having click on this button: </p>
                <button mat-button [routerLink]="'/register'" style="color: white;background-color: black;">
                    Register<mat-icon>login</mat-icon>
                </button>
            </div>
            <vg-player class="video-style">
                <video #media [vgMedia]="media" preload="auto" controls>
                    <source src="/assets/Video/Login.mp4" type="video/mp4">
                </video>
            </vg-player>
        </div>
    </mat-card>
    <mat-card class="footer">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="text_style_footer">
                <h1><strong>Share your experience with someone!</strong>
                </h1>
                <p>
                    <share-buttons [theme]="'modern-dark'"
                    [include]="['facebook','twitter','linkedin','pinterest','reddit','tumblr','viber','vk','copy']"
                    [show]="18"
                    [size]="4"
                    [url]="'http://localhost:4200/landing-page'"
                    [autoSetMeta]="false"></share-buttons>
            </div>
            <ang-music-player class="music" [audioList]=audioList></ang-music-player>


        </div>
    </mat-card>
</div>