.title{
    width: auto;
    height: auto;
    background-color: #FFFF8D;
    margin-top: 1%;
    margin-bottom: 10%;
    border-radius: 2rem;
    margin: 30px;
}

.Title-twro{
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
   
}
.color{
    background-color: black;
    color: white;
}
.title-style{
    margin: 30px;
}
.text-size{
    font-size: medium;
}
.btn-size-photo{
    width: 150px;
    height: 40px;
    margin-bottom: 3%;
}
.btn-size{
    width: 200px;
    background-color: black;
    color: white;
    height: 50px;
}

.input-style{
    width: 500px;
    margin: 15px;
    font-size: small;
}
