<mat-card class="card">
    <mat-accordion>
        <mat-expansion-panel (opened)="onExpand()" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{student.fullName}} ({{student.email}})
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card-actions>
                <h2>Grade based on items done: {{checkListGrade}}</h2>
                <div fxLayout="row" fxLayoutAlign="end end">
                    <button mat-fab class="color-buttons" (click)="onCreateCheck()" matTooltip="Create a new item"
                        [disabled]="!isTeacher && !isCurrentPerson" *ngIf="status=='ACTIVE'">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
                <div>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="checked">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <input mat-checkbox type="checkbox" (click)="onCheck(element.checkID)"
                                    [disabled]="!isCurrentPerson || status!='ACTIVE'"
                                    [checked]="element.isChecked==1">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> <strong>Description</strong></th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="create">
                            <th mat-header-cell *matHeaderCellDef> <strong>Create By</strong></th>
                            <td mat-cell *matCellDef="let element"> {{element.createBy}} </td>
                        </ng-container>
                        <ng-container matColumnDef="update">
                            <th mat-header-cell *matHeaderCellDef> <strong>Last update</strong></th>
                            <td mat-cell *matCellDef="let element"> {{element.lastUpdate}} </td>
                        </ng-container>
                        <ng-container matColumnDef="creationDate">
                            <th mat-header-cell *matHeaderCellDef> <strong>Creation date</strong></th>
                            <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
                        </ng-container>
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element;">
                                <button mat-icon-button class="color-buttons" matTooltip="Edit the description" [disabled]="!isTeacher && !isCurrentPerson"
                                    (click)="onUpdate(element)" *ngIf="status=='ACTIVE'">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button class="color-buttons" matTooltip="Delete item" [disabled]="!isTeacher && !isCurrentPerson"
                                    (click)="onDelete(element.checkID)" *ngIf="status=='ACTIVE'">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-card-actions>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>