.title3{
  width: auto;
  height: auto;
  background-color: #FFFF8D;
  margin: 2%;
}
.section{
    margin: 0%;
    background-color: #FFFF8D;
    border-radius: 40rem;    
    width: 81%;
    height: 50%;
    margin-bottom: 2%;
}
.text-style{
  width: 40%; 
  font-family: cursive;
  text-align: center;
}
.video-style{
  width: 640px;
  height: 360px; 
  margin: 3%;
}

.end{
  margin-bottom: 25%;
}
.footer{
  margin: 3%;
  background-color: #FFFF8D;
  border-radius: 40rem;    
  width: 81%;
  height: 50%; 
  margin-bottom: 5%;
}