<div fxLayout="column" fxLayoutAlign="center center">
     <mat-card class="title3">
          <app-group-invitations></app-group-invitations>
     </mat-card>
     <mat-card class="section">
          <div fxLayout="row" fxLayoutAlign="center center">
               <vg-player class="video-style">
                    <video #media [vgMedia]="media" preload="auto" controls>
                         <source src="/assets/Video/GroupCreateAdd.mp4" type="video/mp4">
                    </video>
               </vg-player>

               <div class="text-style">
                    <h1><strong>How to create or be part of a group!</strong>
                         <mat-icon>flutter_dash</mat-icon>
                    </h1>
                    <p>Everything is pretty simple! Go to the group option menu and there you can choose to create the
                         group, or if it already exists, you can give the key to a person you want to add or you can add
                         it yourself if you go to the group menu and if you know them email address. See? It's very
                         simple! </p>
               </div>
          </div>
     </mat-card>
     <mat-card class="section">
          <div fxLayout="row" fxLayoutAlign="center center">
               <div class="text-style">
                    <h1><strong>How to manage a group!</strong>
                         <mat-icon>flutter_dash</mat-icon>
                    </h1>
                    <p>What can you do once you are part of a group? Well, it's very simple. You can edit group details,
                         add or delete members in case you are a student. You can keep in touch with the members of the
                         group, which you can view. Everything is very simple! </p>
               </div>
               <vg-player class="video-style">
                    <video #media [vgMedia]="media" preload="auto" controls>
                         <source src="/assets/Video/ManageGroup.mp4" type="video/mp4">
                    </video>
               </vg-player>
          </div>
     </mat-card>
     <mat-card class="footer">
          <div fxLayout="row" fxLayoutAlign="center center">
               <h1 style="font-family: cursive;"><strong>Share your experience with someone:</strong>
               </h1>
               <p>
                    <share-buttons [theme]="'modern-dark'"
                         [include]="['facebook','twitter','linkedin','pinterest','reddit','tumblr','viber','vk','copy']"
                         [show]="18" [size]="4" [url]="'http://localhost:4200/landing-page'" [autoSetMeta]="false">
                    </share-buttons>
          </div>
     </mat-card>
</div>