<div fxLayout="column" fxLayoutAlign="space-between center">
    <div fxFlex fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
        <app-group-details-section [group]='group'></app-group-details-section>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <button mat-fab class="margin" (click)="redirectTo('my-groups')">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <button mat-fab class="margin" (click)="openDialog()">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-fab class="margin" (click)="openDialogAddMember()">
                <mat-icon>group_add</mat-icon>
            </button>
        </div>
    </div>
    <p>
        <mat-button-toggle-group>
            <mat-button-toggle (click)="redirectToMembers()">
                <mat-icon>groups</mat-icon>
                Members</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </p>
    <div *ngIf="!collapseMembers">
        <app-view-members [group]="group"></app-view-members>
    </div>
</div>