.margin{
    margin: 10px;
    width: 70px;
    background:black;
    color: white;
}
.menu-position{
    margin-top: 3%;
    left: 0;
    position: fixed;
}
.grid-menu{
    margin-left: 10%;
    margin-top: 1%;
}
.collaps-position{
    width: 740px;
    margin-top: 2%;
    margin-left: 760px;
}
  .example-tooltip-yellow{
      background: #FFD54F;
  }
  .btn-size{
    width: 1132px;
    height: 50px;
    margin-left: -26%;
}

.color{
    background-color: black;
    color: white;
}