<div fxFlex fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
    <app-group-details-section [group]='group'></app-group-details-section>
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <button mat-fab class="margin" >
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <button mat-fab  class="margin">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-fab  class="margin" >
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>