
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{group.groupName}}</mat-card-title>
        <mat-card-subtitle>Teacher: {{group.teacherName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Number of members:{{group.noMembers}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openKeySheet()"><mat-icon >vpn_key</mat-icon></button>
        <button mat-button >Go to<mat-icon>keyboard_arrow_right</mat-icon></button>
        <button mat-mini-fab color="warn" ><mat-icon>exit_to_app</mat-icon></button>
    </mat-card-actions>
</mat-card> 