.card {
    max-width: 700px;
    min-width: 400px;
    min-height: 200px;
    max-height: 400px;
    background-color: #FFD54F;
    margin: 5px;
  }
  
  .color-buttons{
    background-color: white;
    color: black;
  }
  .color-button{
    background-color: black;
    color: white;
  }