<div mat-dialog-content fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="input-style">
                    <mat-label>Add solution</mat-label>
                    <input matInput [type]="'text'" formControlName='solution' readonly>
                    <mat-icon matSuffix>link</mat-icon>
                </mat-form-field>
            </form>
        </div>
        <div>
            <button class="btn-size" mat-raised-button (click)="onSubmit()" >Go to</button>
        </div>
       
    </div>
</div>