.all-groups{
    margin-top: -3%;
    padding: 80px;
}




.margin{
    margin: 10px;
    width: 70px;
    background:black;
    color: white;
}
.menu-position-student{
    margin-top: 8%;
    left: 0;
    position: fixed;
}

.menu-position{
    margin-top:5%;
    left: 0;
    position: fixed;
}