.margin{
    margin: 10px;
    width: 70px;
    background:black;
    color: white;
}
.menu-position{
    margin-top: 8%;
    left: 0;
    position: fixed;
}
.grid-menu{
    margin-left: 10%;
    margin-top: 1%;
}
