<button #clickMe mat-icon-button [matMenuTriggerFor]="menu" (mouseenter)="clickOnHover()">
    <span class="fill-remaining-space">
        <h1><strong>TeamWork</strong></h1>
    </span>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngIf='authService.isLoggedIn'>
        <mat-icon>person</mat-icon>
        <span>{{email}}</span>
    </button>
    <button mat-menu-item *ngIf='authService.isLoggedIn' (click)="onSubmit()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
