<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <h1><strong>{{list.title}}</strong></h1>
      <h3>Domain: {{list.domain}}</h3>
      <h3>Overroll deadline: {{list.deadline}}</h3>
      <h3><strong>Number of tasks:</strong> {{list.tasks}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-accordion>
    <div fxLayout="column">
      <mat-expansion-panel (opened)="onExpand()" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            View assignments
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutAlign="end end">
            <button mat-fab class="color-buttons" (click)="onCreateTask()">
              <mat-icon>add_task</mat-icon>
            </button>
            <button mat-fab class="color-buttons" (click)="openKeySheet()">
              <mat-icon>vpn_key</mat-icon>
            </button>
            <button mat-fab class="color-button" (click)="onDeleteList()">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef class="width-30"> <strong>Subject</strong></th>
              <td mat-cell *matCellDef="let element" class="width-30"> {{element.title}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef class="width-50"> <strong>Assignment description</strong></th>
              <td mat-cell *matCellDef="let element" class="width-400"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="groupsMax">
              <th mat-header-cell *matHeaderCellDef class="width-30"> <strong>Maximum groups</strong></th>
              <td mat-cell *matCellDef="let element" class="width-30"> {{element.groupsMax}} </td>
            </ng-container>
            <ng-container matColumnDef="groupsTake">
              <th mat-header-cell *matHeaderCellDef class="width-30"> <strong>Remaining seats</strong></th>
              <td mat-cell *matCellDef="let element" class="width-30"> {{element.groupsTake}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="width-30"> <strong>Status</strong></th>
              <td mat-cell *matCellDef="let element" class="width-30"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef class="width-30"> <strong>Assignment deadline</strong></th>
              <td mat-cell *matCellDef="let element" class="width-30"> {{element.deadline}} </td>
            </ng-container>
            <ng-container matColumnDef="checklistDeadline">
              <th mat-header-cell *matHeaderCellDef class="width-30"> <strong>Checklist deadline</strong></th>
              <td mat-cell *matCellDef="let element" class="width-30"> {{element.checklistDeadline}} </td>
            </ng-container>
            <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef class="width-30"> <strong>Created at</strong></th>
              <td mat-cell *matCellDef="let element" class="width-30"> {{element.createdDate}} </td>
            </ng-container>
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element;" class="width-30">
                <button mat-icon-button (click)='onDelete(element.assignmentId)'>
                  <mat-icon matSuffix>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator class="paginator" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </mat-card-actions>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="onExpandGroupSection()" (closed)="panelOpenStateGroup = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            View groups that have taken assignments from the list
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-actions>
          <!--<div fxLayout="row" fxLayoutAlign="end end">
            <button mat-fab class="color-buttons" (click)="onCreateTask()">
              <mat-icon>add_task</mat-icon>
            </button>
            <button mat-fab class="color-buttons" (click)="openKeySheet()">
              <mat-icon>vpn_key</mat-icon>
            </button>
            <button mat-fab class="color-button" (click)="onDeleteList()">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>-->
          <table mat-table [dataSource]="dataSourceGroups" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> <strong>Group Name</strong></th>
              <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef > <strong>Assignment Subject</strong></th>
              <td mat-cell *matCellDef="let element"> {{element.assignmentTitle}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef > <strong>Status</strong></th>
              <td mat-cell *matCellDef="let element" > {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef > <strong>Assignment deadline</strong></th>
              <td mat-cell *matCellDef="let element" > {{element.assignmentDeadline}} </td>
            </ng-container>
            <ng-container matColumnDef="checklistDeadline">
              <th mat-header-cell *matHeaderCellDef > <strong>Checklist deadline</strong></th>
              <td mat-cell *matCellDef="let element" > {{element.chkListDeadline}} </td>
            </ng-container>
            <ng-container matColumnDef="solution">
              <th mat-header-cell *matHeaderCellDef>Solution</th>
              <td mat-cell *matCellDef="let element;">
                <button *ngIf="element.status=='DONE'" mat-icon-button (click)='onGoTo(element.solution)'>
                  <mat-icon matSuffix>attach_file</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="grade">
              <th mat-header-cell *matHeaderCellDef > <strong>Teacher grade</strong></th>
              <td mat-cell *matCellDef="let element" > {{element.grade}} </td>
            </ng-container>
            <ng-container matColumnDef="addgrade">
              <th mat-header-cell *matHeaderCellDef> Add grade </th>
              <td mat-cell *matCellDef="let element;">
                  <button  mat-icon-button
                      (click)='onUpdate(element.assignedTaskId)'>
                      <mat-icon matSuffix>edit</mat-icon>
                  </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Checklist</th>
              <td mat-cell *matCellDef="let element;">
                  <button  mat-icon-button
                      (click)='onCheckList(element.assignedTaskId)'>
                      <mat-icon matSuffix>checklist</mat-icon>
                  </button>
              </td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsGroup"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsGroup;"></tr>
          </table>
          <mat-paginator class="paginator" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </mat-card-actions>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</mat-card>