<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <h1><strong>{{list.title}}</strong></h1>
      <h3>Domain: {{list.domain}}</h3>
      <h3>Overroll deadline: {{list.deadline}}</h3>
      <h3><strong>Number of tasks:</strong> {{list.tasks}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-accordion>
    <div fxLayout="column">
      <app-list-view-extention [list]='list'></app-list-view-extention>
      <app-groups-view-extention [list]='list'></app-groups-view-extention>
      <app-grade-view-extention [key]='list.key'></app-grade-view-extention>
      <app-dashboard-view-extention [list]='list'></app-dashboard-view-extention>
    </div>
  </mat-accordion>
</mat-card>