.card {
    width: 150%;
    height: auto;
    background-color: #FFD54F;
    margin-top: 0%;
    margin-left: -29%;
  }
  
  .color-buttons{
    background-color: white;
    color: black;
  }
  .color-button{
    background-color: black;
    color: white;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 10px;
  }
  table {
    width: 100%;
    margin-top: 1%;
  }


  .paginator{
    width: 100%;
  }

  mat-expansion-panel{
    margin: 1px;
  }