.input-style{
    width: 500px;
    margin: 15px;
    font-size: small;
}

.title-style{
    margin: 30px;
}

.btn-size{
    width: 200px;
    background-color: black;
    color: white;
    height: 50px;
}

