<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="title">
        <h1 class="Title-twro">Welcome! </h1>
        <div  fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field class="input-style" >
                <mat-label>Email</mat-label>
                <input matInput [type]="'text'" placeholder="Ex. pat@example.com"  required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field class="input-style" >
                <mat-label>Phone number</mat-label>
                <input matInput [type]="'text'" placeholder="Ex. 07756212343" required>
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field class="input-style" >
                <mat-label>What do you want to sent to us?</mat-label>
                <textarea matInput rows="5" maxlength="255" placeholder="..."></textarea>
            </mat-form-field>
        
        <div>
            <button class="btn-size color"  mat-raised-button (click)="onSubmit()" >Sent</button>
        </div>
    </div>
    </mat-card>
    </div>
