.card {
    width: 900px;
    height: 130px;
    background-color: #FFFF8D;
  }

  button{
      width: 100px;
  }

  p{
    width: 500px; 
  }

  .button-style{
    background:white;
    color: black; 
    margin-left: 40px;
  }

  .button-style2{
    background-color: #000;
    color: #fff;
    width: 140px;
    height: 36px;
  }