<mat-card class="card" *ngIf="display">
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="state==0">
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="start">
                <h1><strong>{{group.groupName}}</strong></h1>
                <p>{{group.groupDetails}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="column">
                <button mat-fab class="button-style" (click)="onAccept()">
                    <mat-icon>check</mat-icon>Accept
                </button>
                <button mat-fab class="button-style"  (click)="onDecline()">
                    <mat-icon>clear</mat-icon> Decline
                </button>
            </div>
        </mat-card-actions>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="state==1">
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center">
                <h4><strong>{{notification.message}}</strong></h4>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="column">
                <button mat-button  class="button-style2" (click)="onMarkAsSeen()">
                    Mark as seen
                </button>
            </div>
        </mat-card-actions>
    </div>
</mat-card>