.title{
    width: 41%;
    height: 50%;
    background-color: #FFFF8D;
    margin-top: 1%;
    border-radius: 10rem;
}
.title2{
    width: 33%;
    height: 138px;
    background-color: #FFFF8D;
    margin: 1%;
    border-radius: 10rem;
}
.Title-twro{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.color{
    background-color: black;
    color: white;
}
#map {
    height: 60vh;
    width: 80vh;
    margin: auto;
  }
.title-style{
    margin: 30px;
}
.text-size{
    font-size: medium;
}
.btn-size{
    width: 150px;
    height: 40px;
    margin-bottom: 15%;
}

