<div fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="title-style">
            <h1><strong>Add a member</strong></h1>
        </div>
        <div>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <mat-form-field class="input-style" >
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. pat@example.com" formControlName='email' required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error
                        *ngIf="!formGroup.controls['email'].hasError('required') && formGroup.controls['email'].hasError('pattern')">
                        Please enter a valid email address!
                    </mat-error>
                    <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
                        Email is <strong>required</strong>!
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        <div>
            <button class="btn-size" color="primary" mat-raised-button (click)="onSubmit()" [disabled]="formGroup.controls['email'].hasError('required') ||
            formGroup.controls['email'].hasError('pattern')">Save changes</button>
        </div>
    </div>
</div>

