<div fxLayoutAlign="center center">
    <mat-grid-list class="menu-style" cols="9" rowHeight="60px" rowWidth="20px">
        <mat-grid-tile>
            <button mat-button (click)="redirectHome()">
                Home
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='!authService.isLogged()'>
            <button mat-button [routerLink]="'/about'"  >
                About us
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='!authService.isLogged()'>
            <button mat-button [routerLink]="'/login'">
                Login
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='!authService.isLogged()'>
            <button mat-button [routerLink]="'/register'">
                Register
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='authService.isLogged()'>
            <button mat-button class="goright" (click)="redirectTo('my-groups')" >
                <span>Groups</span>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button class="goright" (click)="redirectTo('list')"   *ngIf='authService.isLogged() && isTeacher'> 
                <span>Assignments</span>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='authService.isLogged()'>
            <button mat-button [routerLink]="'/profile'" *ngIf='authService.isLogged()'>
                <mat-icon>person</mat-icon>
                <span>{{email}}</span>
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='authService.isLogged()'>
            <button mat-fab style="background-color: black; margin-left: 30px;" (click)="onSubmit()"
                *ngIf='authService.isLogged()'>
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="logo"> <img src="assets/Images/logo-bg.png" class="image-logo" (click)="redirectHome()" /></div>