
  table {
    width: 100%;
    margin-top: 1%;
  }


  .paginator{
    width: 100%;
  }
  mat-expansion-panel{
    margin: 1px;
  }
  .color-buttons{
    background-color: white;
    color: black;
  }
  .color-button{
    background-color: black;
    color: white;
  }