.input-style{
    width: 500px;
    margin: 15px;
    font-size: small;
    color: black;
}

.title-style{
    margin: 30px;
}

.btn-size{
    width: 200px;
    height: 50px;
    margin-bottom: 27%;
}
.card{
    background-color:#FFD54F;
    background-repeat: no-repeat;
    width:600px;
    height: auto;
    margin-top: 2%;
}

.color{
    background-color: black;
    color: white;
}
