<div class="all-groups" *ngIf="length!==0">
    <div fxFlex fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div *ngFor="let group of myGroups">
            <app-group-invitation [group]='group'></app-group-invitation>
        </div>
    </div>
</div>
<div class="all-groups" *ngIf="length===0">
    <mat-card style="width: 800px;height: 100px;color: #FFD54F;">
        <h1 style="text-align: center; font-size: xx-large;"><strong>No notifications found!</strong></h1>
    </mat-card>
</div>