<div fxLayoutAlign="center center">
    <mat-card class="card">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="title-style">
                <h1><strong>Login</strong></h1>
            </div>
            <div>
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <mat-form-field class="input-style">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ex. pat@example.com" formControlName='email' required>
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error
                            *ngIf="!formLogin.controls['email'].hasError('required') && formLogin.controls['email'].hasError('pattern')">
                            Please enter a valid email address!
                        </mat-error>
                        <mat-error *ngIf="formLogin.controls['email'].hasError('required')">
                            Email is <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="input-style">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName='password' required 
                        #description maxlength="50" >
                            <mat-hint align="end">{{description.value.length}} / 50</mat-hint>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="formLogin.controls['password'].hasError('required')">
                            Password is <strong>required</strong>!
                        </mat-error>
                        <mat-error
                            *ngIf="!formLogin.controls['password'].hasError('required') && !formLogin.controls['password'].hasError('minLength')">
                            Password must have <strong> at least 6 characters</strong>!
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
            <div>
                <button mat-raised-button class="btn-size color" (click)="onCreateAccount()">
                    Create a new account
                </button>
                <button class="btn-size" mat-raised-button (click)="onSubmit()" [disabled]="formLogin.controls['email'].hasError('required') || 
                    formLogin.controls['password'].hasError('required') ||
                    formLogin.controls['password'].value.length < 6 ||
                    formLogin.controls['email'].hasError('pattern') ">Done</button>
            </div>
        </div>
    </mat-card>
</div>